
/* NOTE: There are two types of transition in CSS
*  The first one is to use the transition property, and then change the properties that you want to animate on an event E.g Like when you hover
*  on an element.
*
*  The second one is animations...
*/

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes rotate {
    0%{ 
        transform: rotate(360deg);
    }
}

@keyframes moveInButton {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}